<% content_for :title, "Admin - Service Type" %>
<div>
	<h3>Service Type Table</h3>
	<table class = 'table table-striped'>
		<tr>
			<th>Name</th>
			<th>Unit Value</th>
			<th>Description</th>
			<th>Action</th>
		</tr>
		<% @service_types.each do |s| %>
			<tr>
				<td><%= s.name %></td>
				<td><%= s.unit_value %></td>
				<td><%= s.description %></td>
				<td>
					<button class="btn btn-mini btn-info">Edit</button>
					<%= button_to "Delete", "/admin/delete_service_type/#{s.id}", method: :delete,
                                     data: { confirm: "You sure?" }, :class => "btn btn-mini btn-danger" 
                                     %>
				</td>
			</tr>
		<% end %>

	</table>
</div>
