<div id = "myCarousel">
	<div id = "myCarouselContent">
		<h1>High Perfomance Cloud Computing</h1>
		<h3> Providing the best cloud service in Viet Nam </h3>
		<div class = "carouselButton">
			<button id = "btnAbout" type="button" class="btn btn-default btn-lg">
				About
			</button>
			<button id = "btnContact" type="button" class="btn btn-default btn-lg">
				Contact
			</button>
			<a href="/users/sign_up" class="btn btn-default btn-lg">Sign Up</a>
		</div>
	</div>
</div>
<div id = "wrap">
	<%= render "layouts/about"%>	
	<%= render "layouts/contact"%>
</div>