<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Internal Server Error <small><font face="Tahoma" color="red">Error 500</font></small></h1>
          <br>
          <a href="/" class="btn btn-large btn-danger"><i class="icon-home icon-white"></i> Take Me Home</a>
       </div>
    </div>
  </div>
</div>
