html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 200px;}  /* must be same height as the footer */

#footer {
	text-align: center;
	position: relative;
	margin-top: -200px; /* negative value of footer height */
	height: 200px;
	clear:both;
	background-color: #272727;
	color: white;} 

#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -200px;
	/* Pad bottom by footer height */
	padding: 0 0 200px;
}

/* Set the fixed height of the footer here */

body {
	margin-top: 70px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 900;
	/*background: url('/assets/bg_body.gif') 0 0 repeat;*/
	background-color: rgb(240, 255, 231);
	
}
html, body {
	width: 100%;
	height: auto;
	min-height: 100%;
}

body > #container {
	height: auto;
	min-height: 100%;
}

body > .navbar {
	font-size: 13px;
}

.navbar-wrapper .container{
	width: 70%;
}

.navbar-brand {
	float: left;
	padding: 15px 15px;
	font-size: 28px;
	line-height: 20px;
}

.navbar-inverse {
	height: 70px;
	background-image: url("/assets/bg_body_2.png") 0 0 repeat;
	background-color: rgba(253, 253, 253, 0.16);
}

.navbar-inverse .brand {
	color: #6b6b6b;
	font-size: 26px;
	margin-left: 30px;
	padding-top: 0px;
	height: 60px;
	width: 50px;
}

.navbar-inverse .navbar-nav > li > a {
	color: #6b6b6b;
	font-size: 18px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #A1B494;
	background-color: transparent;
}

.navbar > .container .navbar-brand {
	margin-left: 0px;
	color: #6b6b6b;
}


.modal-content {
	min-width: 666px;
}

#mysidebar {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 900;
}

#myCarousel {
	background: url('/assets/BKLayout.jpg') 0 0 repeat;
	min-height: 600px;
}

#myCarouselContent {
	color: white;
	padding-top: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#about {
	text-align: center;
	padding: 103px 0 0;
	margin: 0 0 65px;
	min-height: 700px;
	background-color: white;
}

#contact {
	text-align: center;
	padding: 103px 0 0;
	min-height: 800px;
}

.go-top {
	position: fixed;
	bottom: 2em;
	right: 2em;
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 1em;
	display: none;
	color: black;
}

.go-top:hover {
	color: rgb(183, 224, 196);
}

.select-option{
	width: 150px;
}
.error{
	color: red;
}