.nhantd-p-large {
	font-size: 2.625em;
	color: #464646;
	font-family: calluna-1, calluna-2, serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5em;
}

.nhantd-p-normal {
	color: rgb(70, 70, 70);
	display: block;
	font-family: calluna-1, calluna-2, serif;
	font-size: 17px;
	font-style: normal;
	font-weight: 300;
	line-height: 29.75px;
	text-align: left;
}

.nhantd-p-normal-large {
	color: rgb(70, 70, 70);
	display: block;
	font-family: calluna-1, calluna-2, serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 300;
	line-height: 29.75px;
	text-align: left;
}

.nhantd-title-super-large {
	color: rgb(52, 73, 94);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
}

.nhantd-title-large {
	color: rgb(52, 73, 94);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
}

.nhantd-title-medium {
	color: rgb(52, 73, 94);
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
}