<% content_for :title, "Cloud - Contact" %>
<div id = "contact">
	<div class = "container">
		<div class = "row-fluid">
			<div class = "col-md-3">
				<hr />
				<p class = "nhantd-p-normal pull-right">
					Contact
				</p>
			</div>
			<div class = "col-md-9">
				<p class = "nhantd-p-large">
					Web service that provides resizable compute capacity in the cloud.
					It is designed to make web-scale computing easier for developers.
				</p>
				<div class = "row-fluid">
					<div class = "col-md-6">
						<div class = "container">
							<h3 class = "nhantd-title-large">Elastic</h3>
							<p class = "nhantd-p-normal">
								Enables you to increase or decrease capacity within minutes, not hours or days.
								You can commission one, hundreds or even thousands of server instances
								simultaneously. Of course, because this is all controlled with web service
								APIs, your application can automatically scale itself up and down depending
								on its needs.
							</p>

						</div>
					</div>
					<div class = "col-md-6">

						<div class = "container">
							<h3 class = "nhantd-title-large"> Flexible </h3>
							<p class = "nhantd-p-normal">
								You have the choice of multiple instance types, operating systems, and software packages.
								Allows you to select a configuration of memory, CPU, instance storage,
								and the boot partition size that is optimal for your choice of operating
								You have the choice of multiple instance types, operating systems, and software packages.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>