<div id="footer">
	<div class="container">
		<div class = "footerContent" style="margin-top: 40px;">
			<h2> 268, Lý Thường Kiệt, Quận 10, Hồ Chí Minh </h2>
			Phone: <i class="icon-phone-sign"></i> &nbsp; 0935 159 575
			<br>
			Email: <a href="contact.html" title="contact"><i class="icon-envelope-alt"></i> trdainhan@gmail.com</a>
			<br/>
			Link: 
			<%= link_to root_path do %>
				<i class='icon-globe'></i>www.cloud.hcmut.edu.vn
			<% end %>

		</div>
	</div>
</div>