<div class="navbar-wrapper">
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!-- <%= link_to "HPC", root_path, class: "navbar-brand"%> -->
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href = "/#about" id = "btnAboutInHeader">About</a>
						</li>
						<li>
							<a href = "/#contact" id = "btnContactInHeader">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
